In [1]:
import pandas as pd 
import numpy as np

In [3]:
file_name = "https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv"
df = pd.read_csv(file_name).iloc[:, :-1]
df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [5]:
m1 = 0
n1 = 2
df['EF_ch'] = df.apply(lambda r: r[m1:n1].mean(), axis=1)
df.head()

   sepal_length  sepal_width  petal_length  petal_width  EF_ch
0           5.1          3.5           1.4          0.2   4.30
1           4.9          3.0           1.4          0.2   3.95
2           4.7          3.2           1.3          0.2   3.95
3           4.6          3.1           1.5          0.2   3.85
4           5.0          3.6           1.4          0.2   4.30

In [6]:
m2 = 1
n2 = 3
df['EF_dis'] = df.apply(lambda r: r[m2:n2].mean(), axis=1)
df.head()

   sepal_length  sepal_width  petal_length  petal_width  EF_ch  EF_dis
0           5.1          3.5           1.4          0.2   4.30    2.45
1           4.9          3.0           1.4          0.2   3.95    2.20
2           4.7          3.2           1.3          0.2   3.95    2.25
3           4.6          3.1           1.5          0.2   3.85    2.30
4           5.0          3.6           1.4          0.2   4.30    2.50

In [7]:
df['Consump_dis'] = df.apply(lambda r: r[m2:n2].sum(), axis=1)
df.head()

,sepal_length,sepal_width,petal_length,petal_width,EF_ch,EF_dis,Consump_dis
0,5.1,3.5,1.4,0.2,4.30,2.45,4.9
1,4.9,3.0,1.4,0.2,3.95,2.20,4.4
2,4.7,3.2,1.3,0.2,3.95,2.25,4.5
3,4.6,3.1,1.5,0.2,3.85,2.30,4.6
4,5.0,3.6,1.4,0.2,4.30,2.50,5.0

In [8]:
x = [1.3, 4.45]
df['adaptive_con_dis'] = df['Consump_dis'].apply(lambda i:x[1] if x[1] < i else i)
df.head()

,sepal_length,sepal_width,petal_length,petal_width,EF_ch,EF_dis,Consump_dis,adaptive_con_dis
0,5.1,3.5,1.4,0.2,4.30,2.45,4.9,4.45
1,4.9,3.0,1.4,0.2,3.95,2.20,4.4,4.40
2,4.7,3.2,1.3,0.2,3.95,2.25,4.5,4.45
3,4.6,3.1,1.5,0.2,3.85,2.30,4.6,4.45
4,5.0,3.6,1.4,0.2,4.30,2.50,5.0,4.45

In [9]:
eff = 0.8
df['batteryEM'] = df.loc[:, ['EF_ch', 'EF_dis', 'adaptive_con_dis']].apply(lambda r: (r[0]/eff - r[1])*r[2], axis=1)
df.head()

,sepal_length,sepal_width,petal_length,petal_width,EF_ch,EF_dis,Consump_dis,adaptive_con_dis,batteryEM
0,5.1,3.5,1.4,0.2,4.30,2.45,4.9,4.45,13.016250
1,4.9,3.0,1.4,0.2,3.95,2.20,4.4,4.40,12.045000
2,4.7,3.2,1.3,0.2,3.95,2.25,4.5,4.45,11.959375
3,4.6,3.1,1.5,0.2,3.85,2.30,4.6,4.45,11.180625
4,5.0,3.6,1.4,0.2,4.30,2.50,5.0,4.45,12.793750

In [10]:
total_batteryEM = df['batteryEM'].sum()
total_batteryEM

1433.8831249999998